button {
  outline: none;
  border: none;
}

.btn {
  border: none;
  position: relative;
  z-index: 1;
  outline: none !important;
  cursor: pointer;
  text-decoration: none;
  border-radius: 5px;

  &:active, &:focus {
    box-shadow: none;
    outline: 0px;
  }

  &__promo {
    background-color: $color-promo;
    color: white;
    padding: 15px 50px 15px 50px;
    font-size: 13px;
    border-radius: 100px;
    font-weight: bold;
    @include transition(all .2s ease-in-out);

    @media (max-width: $screen-md){
      font-size: 11px;
      padding-left: 30px;
      padding-right: 30px;
    }
    @media (max-width: $screen-md){
      padding: 14px 15px 11px 15px;
    }

    &:hover, &:focus {
      opacity: $opacity-main;
      color: white;
      text-decoration: none;
    }

    &--clear {
      background-color: #ffffff;
      color: $color-promo;

      &:hover, &:focus {
        color: $color-promo;
      }
    }
  }
}

