@font-face {
    font-family: 'lora';
    src: url('../fonts/Lora.eot');
    src: local('☺'), url('../fonts/Lora.woff') format('woff'), url('../fonts/Lora.ttf') format('truetype'), url('../fonts/Lora.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'scada';
    src: url('../fonts/Scada.eot');
    src: local('☺'), url('../fonts/Scada.woff') format('woff'), url('../fonts/Scada.ttf') format('truetype'), url('../fonts/Scada.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'scada-bold';
    src: url('../fonts/Scada_bold.eot');
    src: local('☺'), url('../fonts/Scada_bold.woff') format('woff'), url('../fonts/Scada_bold.ttf') format('truetype'), url('../fonts/Scada_bold.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

