.footer {
  background-color: black;
  padding-top: 73px;
  padding-bottom: 46px;

  @media (max-width: $screen-md) {
    padding-top: 67px;
    padding-bottom: 54px;
  }
  @media (max-width: $screen-sm) {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  a {
    color: lightgray;
    text-decoration: none;

    @media (max-width: $screen-sm) {

    }

    &:hover, &:focus {
      color: white;
      text-decoration: none;
    }
  }

  p {
    color: lightgray;

    @media (max-width: $screen-sm) {

    }
  }

  &__container {
    @include container-fixed;

    @media (min-width: $screen-sm-min) {
      width: $container-sm;
    }
    @media (min-width: $screen-md-min) {
      width: $container-md;
    }
    @media (min-width: $screen-lg-min) {
      width: $container-large-desktop;
    }
    @media(max-width: $screen-md){
      padding-left: 12px;
      padding-right: 12px;
    }
    @media(max-width: $screen-sm){
      padding-left: 12px;
      padding-right: 12px;
    }
  }

  &__row {
    text-align: center;
  }

  &__main {
    @extend %row;
    margin-bottom: 30px;

    @media (max-width: $screen-sm) {

    }
  }

  &__side {
    margin: 0;
    padding-top: 13px;

    @media (max-width: $screen-md) {
      padding-top: 0;
    }
    @media (max-width: $screen-sm) {
      width: 100%;
      padding-top: 0;
    }

    &--left {
      float: left;
      text-align: left;

      @media (max-width: $screen-md) {
        padding-top: 0;
      }
      @media (max-width: $screen-sm) {

      }
    }

    &--center {
      display: inline-block;
      vertical-align: top;
      text-align: center;

      @media (max-width: $screen-sm) {
        text-align: left;
        margin-bottom: 19px;
      }
    }

    &--right {
      float: right;
      text-align: right;

      @media (max-width: $screen-sm) {
        text-align: left;
      }
    }
  }

  &__logo {
    margin-bottom: 29px;

    @media (max-width: $screen-md) {

    }
    @media (max-width: $screen-sm) {
      margin-bottom: 24px;
    }

    .logo {
      @media (max-width: $screen-sm) {

      }
    }
  }

  &__list {
    font-family: $lora;
    padding: 0;
    list-style: none;
    margin: 0;
    display: inline-block;
    vertical-align: top;
    font-size: 16px;
    width: 206px;

    @media(max-width: $screen-md){
      font-size: 12px;
      width: 146px;
    }
    @media (max-width: $screen-sm) {
      width: 100%;
      font-size: 10px;
      margin-bottom: 13px;
    }

    &:last-child {
      @media (max-width: $screen-sm) {
        margin-bottom: 0;
      }
    }

    li {
      width: 100%;
      text-align: left;
      margin-bottom: 30px;

      @media(max-width: $screen-md){
        margin-bottom: 36px;
      }
      @media (max-width: $screen-sm) {
        margin-bottom: 10px;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__tel {
    margin-bottom: 21px;

    @media(max-width: $screen-md){
      margin-bottom: 32px;
    }
    @media (max-width: $screen-sm) {
      font-size: 11px;
      margin-bottom: 9px;
    }
  }

  &__email {
    margin-bottom: 20px;

    @media(max-width: $screen-md){
      margin-bottom: 50px;
    }
    @media (max-width: $screen-sm) {
      font-size: 11px;
      margin-bottom: 12px;
    }
  }

  &__contact {
    padding: 0;
    list-style: none;
    margin: 0;

    li {
      margin-bottom: 10px;

      @media (max-width: $screen-sm) {
        display: inline-block;
        vertical-align: middle;
      }
    }
  }

  &__sitemap {
    width: 43px;
    height: 26px;
    fill: white;

    @media(max-width: $screen-md) {
      display: none;
    }
  }

  &__skype {
    width: 36px;
    height: 36px;
    fill: white;

    @media(max-width: $screen-md) {
      width: 30px;
      height: 32px;
    }
    @media (max-width: $screen-sm) {
      width: 21px;
      height: 19px;
    }
  }

  &__web {
    width: 42px;
    height: 34px;
    fill: white;

    @media(max-width: $screen-md) {
      width: 31px;
      height: 25px;
    }
    @media (max-width: $screen-sm) {
      width: 22px;
      height: 17px;
    }
  }

  &__nav {

    @media (max-width: $screen-sm) {

    }
  }

  &__bottom {
    clear: both;
    padding: 16px 0px 0px 0px;

    @media(max-width: $screen-md) {
      padding-top: 0;
      float: left;
      width: 100%;
      margin-top: -1px;
    }
    @media (max-width: $screen-sm) {
      padding-top: 0;
    }

    .footer__side {
      @media (max-width: $screen-sm) {
        margin-bottom: 10px;
      }

      &:last-child {
        @media (max-width: $screen-sm) {
          margin-bottom: 0;
        }
      }

      &--center {
        @media(max-width: $screen-md) {
          //margin-left: -10px;
        }
      }
    }
  }

  &__map {
    margin-bottom: 30px;

    @media (max-width: $screen-sm) {
      display: none;
    }
  }
}