
textarea {
  border: solid 1px rgba(120, 120, 134, 0.5);
  border-radius: 0px;
  resize: none;
  font-size: 13px;
  color: #787886;
  padding: 10px 0px;
  box-shadow: none;
  outline: none;

  @media(max-width: $screen-md){
    font-size: 16px;
  }

  ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #787886;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    color: #787886;
  }
  :-ms-input-placeholder { /* IE 10+ */
    color: #787886;
  }
  :-moz-placeholder { /* Firefox 18- */
    color: #787886;
  }

  &:focus {
    
  }
}

input {
  outline: none;
  height: 40px;
  border-radius: 0px;
  border: none;
  border-bottom: 1px solid black;
  box-shadow: none;
  background-color: #fff;
  color: #000;
  font-size: 15px;
  padding-left: 0px;
  padding-right: 40px;

  @media(max-width: $screen-md){
    font-size: 16px;
  }

  ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #000;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    color: #000;
  }
  :-ms-input-placeholder { /* IE 10+ */
    color: #000;
  }
  :-moz-placeholder { /* Firefox 18- */
    color: #000;
  }

  &:focus {
    
  }
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  select,
  textarea,
  input {
    font-size: 16px;
  }
}

.control-group {
  .control {

  }
}
.control {
  display: block;
  position: relative;
  padding-left: 18px;
  font-size: 13px;
  letter-spacing: 0.5px;
  margin-bottom: 10px;
  cursor: pointer;

  &:last-child {
    margin-bottom: 0;
  }
}
.control input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.control__indicator {
  position: absolute;
  top: 2px;
  left: 0;
  height: 11px;
  width: 11px;
  background: white;
  border: 1px solid #c1c1c1;
}
.control--radio .control__indicator {
  //border-radius: 50%;
}
.control:hover input ~ .control__indicator,
.control input:focus ~ .control__indicator {
  //background: #ccc;
}
.control input:checked ~ .control__indicator {
  background: #9A1300;
}
.control:hover input:not([disabled]):checked ~ .control__indicator,
.control input:checked:focus ~ .control__indicator {
  //background: #0e647d;
}
.control input:disabled ~ .control__indicator {
  background: #e6e6e6;
  opacity: 0.6;
  pointer-events: none;
}
.control__indicator:after {
  content: '';
  position: absolute;
  display: none;
}
.control input:checked ~ .control__indicator:after {
  display: block;
}
.control--checkbox .control__indicator:after {
  //left: 8px;
  //top: 4px;
  //width: 3px;
  //height: 8px;
  //border: solid #fff;
  //border-width: 0 2px 2px 0;
  //transform: rotate(45deg);
}
.control--checkbox input:disabled ~ .control__indicator:after {
  border-color: #7b7b7b;
}
.control--radio .control__indicator:after {
  //left: 7px;
  //top: 7px;
  //height: 6px;
  //width: 6px;
  //border-radius: 50%;
  //background: #fff;
}
.control--radio input:disabled ~ .control__indicator:after {
  background: #7b7b7b;
}