.header {
  width: 100%;
  position: relative;

  @media(max-width: $screen-md){
    position: fixed;
    background-color: #fff;
    height: 83px;
    padding-top: 22px;
    z-index: 2;
    top: 0;
  }

  &__container {
    @include container-fixed;

    @media (min-width: $screen-md) {
      width: $container-sm;
    }
    @media (min-width: $screen-md) {
      width: $container-md;
    }
    @media (min-width: $screen-lg) {
      width: $container-lg;
    }
    @media(max-width: $screen-md) {
      padding-left: 12px;
      padding-right: 12px;
    }
  }

  &__top {
    height: 48px;
    border: none;
    border-radius: 0px;

    @media(max-width: $screen-md){
      height: auto;
    }

    &__menu {
      display: none;
      background-color: black;
      color: white;
      position: absolute;
      transform: translate(-50%, 0);
      top: 0;
      left: 50%;
      z-index: 1;
      font-size: 10px;
      line-height: 21px;
      height: 21px;
      padding: 0px 10px;
      text-transform: uppercase;
      letter-spacing: 0px;
      cursor: pointer;

      @media(max-width: $screen-md){
        display: block;
      }
    }

    & > .header__container, & > .container {
      height: 100%;
      overflow: hidden;
    }
  }

  &__bottom {
    background-color: $color-main;
    height: 60px;
    overflow: hidden;

    @media(max-width: $screen-md){
      display: none;
    }
  }
  
  &__breadcrumb {
    padding: 0;
    list-style: none;
    margin: 0;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    height: 48px;
    letter-spacing: 0.3px;
    font-size: 14px;

    @media(max-width: $screen-md){
      height: auto;
      display: block;
      font-size: 8px;
      margin: 0px -10px;
      padding-top: 15px;
      padding-bottom: 5px;
      text-align: center;
    }

    li {
      display: inline-block;

      @media(max-width: $screen-md){
        padding: 0px 10px;
        margin-bottom: 10px;
      }

      &:last-child {
        text-align: right;

        @media(max-width: $screen-md){
          //margin-left: -10px;
          //margin-right: -10px;
        }
      }
    }

    a {
      color: white;

      &:hover, &:focus {
        color: white;
        text-decoration: none;
      }
    }
  }

  &__burger {
    position: absolute;
    left: 350px;
    margin-top: 4px;
    //margin-left: 15px;
    z-index: 1;

    @media(max-width: $screen-md){
      transform: translate(-50%, 0%);
      top: 42px;
      left: 50%;
      margin-top: 0px;
    }

    &:hover, &:focus {
      opacity: $opacity-main;
    }

    &__title {
      font-family: $lora;
      font-size: 18px;
      display: inline-block;
      vertical-align: middle;
      margin-right: 21px;
      cursor: pointer;

      @media(max-width: $screen-md){
        font-size: 14px;
        margin-right: 13px;
      }
    }

    .mobile-menu {
      vertical-align: middle;
    }
  }

  &__content {
    height: 147px;
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;

    @media (max-width: $screen-md) {
      height: auto;
      position: initial;
      padding-top: 18px;
    }
  }

  &__logo {

    @media (max-width: $screen-md){
      float: right;
    }
    @media(max-width: $screen-md){

    }

    &:hover, &:focus {
      opacity: 1;
    }
  }

  &__search {
    position: absolute;
    //left: 654px;
    left: 45%;
    top: 59px;

    @media(max-width: $screen-md){
      position: initial;
      left: auto;
      right: auto;
      top: auto;
      min-width: 25px;
      //left: auto;
      //right: 53px;
      //top: 37px;
    }
  }

  &__tel {
    display: inline-block;
    vertical-align: middle;
    font-family: $lora;
    font-size: 18px;
    letter-spacing: 0.4px;
    margin-top: 9px;
    color: black;

    @media(max-width: $screen-md){
      position: absolute;
      margin-top: 0px;
      top: 5px;
      right: 9px;
      font-size: 11px;
      letter-spacing: normal;
    }

    a {
      color: black;

      &:hover, &:focus {
        color: black;

      }
    }
  }

  &__basket {
    display: inline-block;
    vertical-align: middle;
    margin-left: 52px;

    @media(max-width: $screen-md){
      margin-left: 0;
    }
  }

  .navbar-collapse {
    position: relative;
  }

  &__nav {
    //position: absolute;
    //top: 20px;
    margin-left: 361px;
    //left: 361px;
    //text-align: center;

    @media (max-width: $screen-md){
      max-height: 300px;
      overflow: auto;
      //transform: translate(-50%, 0%);
      //left: 50%;
      //margin-left: 45px;
      //position: relative;
      //margin: 0;
      //top: auto;
      //transform: none;
      //left: auto;
      //text-align: center;
      //padding: 15px 0px;
      margin-left: 0;
    }

    @media(max-width: $screen-xs){
      //width: 100%;
      //margin: 0;
    }

    &__wrapper {
      font-size: 0;
      //height: 500px;
      //background-color: rgba(169, 169, 169, 0.8);

      @media (max-width: $screen-md){
        //height: auto;
        //min-height: 177px;
        padding: 0px 12px;
      }

      &:before {
        //content: '';
        //margin-top: 100%;
        //display: block;
      }
    }
  }

  &__side {
    float: right;
  }
}

