.header {
  margin-bottom: 25px;
  width: 100%;

  @media(max-width: $screen-md){
    position: fixed;
    z-index: 2;
    top: 0;
    height: 60px;
    margin-bottom: 0px;
  }

  &__container {
    @include container-fixed;

    @media (min-width: $screen-sm) {
      width: $container-sm;
    }
    @media (min-width: $screen-md) {
      width: $container-md;
    }
    @media (min-width: $screen-lg) {
      width: $container-lg;
    }
    @media(max-width: $screen-md) {
      padding-left: 20px;
      padding-right: 20px;
    }
  }

  &__top {
    background-color: #000000;
    // padding-top: 42px;
    // padding-bottom: 30px;
    height: 67px;

    & > .header__container, & > .container {
      height: 100%;
      overflow: hidden;
    }
  }

  &__bottom {
    background-color: $color-main;
    height: 60px;
    overflow: hidden;

    @media(max-width: $screen-md){
      display: none;
    }
  }
  
  &__breadcrumb {
    padding: 0;
    list-style: none;
    margin: 0;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    // margin: 0px -45px;
    // display: table;
    // width: 100%;
    height: 67px;
    letter-spacing: 0.3px;
    font-size: 17px;

    li {
      display: inline-block;
      // display: table-cell;
      // vertical-align: middle;
      // flex: auto;
      // padding: 0px 45px;


      &:last-child {
        text-align: right;
      }
    }

    a {
      color: white;

      &:hover, &:focus {
        color: white;
        text-decoration: none;
      }
    }
  }

  &__burger {
    display: none;

    @media(max-width: $screen-md){
      display: inline-block;
      float: left;
    }
  }

  &__content {

    @media (max-width: $screen-md) {

    }
  }

  &__logo {

    @media (max-width: $screen-md){
      float: right;
    }
  }

  .navbar-collapse {
    position: relative;
  }

  &__nav {
    position: absolute;
    top: 0px;
    left: 0px;
    float: left;
    margin-left: -25px;

    @media (max-width: $screen-md){
      width: 100%;
      position: relative;
      margin-left: 0;
    }
  }

  &__side {
    float: right;
  }
}

