
.logo {
  display: inline-block;
  vertical-align: top;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: left !important;
  width: 180px;
  height: 56px;
  background-image: url("../img/logo_white.svg");

  @media(max-width: $screen-md){
    width: 80px;
    height: 25px;
  }

  &:hover, &:focus {
    opacity: 1;
  }

  @media only screen and (-webkit-min-device-pixel-ratio: 1.5), not all, not all, not all {

  }

  &--white {
    background-image: url("../img/logo_dark.svg");
  }

  &--footer {
    @media(max-width: $screen-sm){
      width: 103px;
      height: 30px;
    }
  }
}

.icon {
  display: inline-block;
  vertical-align: top;

  &__basket {
    @include sprite($icon-basket);
  }

  &__search {
    @include sprite($icon-search);
  }

  &__pointer {
    @include sprite($icon-pointer);
  }

  &__map {
    @include sprite($icon-map);
  }
}