
.nav {
  font-size: 15px;

  li {
    float: left;

    a {
      color: white;
      padding-left: 25px;
      padding-top: 22px;
      padding-right: 25px;
      padding-bottom: 20px;
      transition: none;

      &:hover, &:focus {
        opacity: 1;
        color: $color-main;
        background-color: #ffffff;
        text-decoration: none;
      }

      &:hover {
        .content-link {
          border-bottom: 2px solid;
          padding-bottom: 5px;
        }
      }
    }

    &.content-link {
      display: inline-block;
      position: relative;

      &:after {
        content: '';
        border-bottom: 1px solid black;
      }
    }

    &.nav__circle {
      .nav__circle__text {
        display: inline-block;
        vertical-align: top;
        padding-right: 60px;
        position: relative;

        @media(max-width: $screen-md){
          position: relative;
        }
      }

      a {

      }
    }

    &.active {
      a {
        background-color: $color-promo;

        &:hover, &:focus {
          background-color: white;
        }

        &:hover {
          .content-link {
            //border-color: $color-promo;
          }
        }
      }
    }

    &.current {

      a {
        background-color: white;
        color: $color-main;
        position: relative;

        &:hover, &:focus {
          background-color: white;
          color: $color-main;
        }

        &:before {
          opacity: 0;
          content: '';
          position: absolute;
          transform: translate(0%, -50%);
          top: 50%;
          left: 20px;
          height: 30px;
          width: 5px;
          z-index: 1;
          background-color: $color-main;

          @media(max-width: $screen-md){
            opacity: 1;
          }
        }
      }
    }
  }
}
