
.nav {
  &--header {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    font-family: $lora;
    font-size: 18px;
    background-color: rgba(169, 169, 169, 0.8);

    @media(max-width: $screen-md){
      display: block;
      font-size: 10px;
      //margin-top: 20px;
      margin-top: 0px;
      text-align: center;
    }

    li {
      a {
        //color: black;
        color: white;

        @media(max-width: $screen-md){
          padding-top: 6px;
          padding-bottom: 6px;
          //color: white;
        }

        &:hover, &:focus {
          //color: black;
          color: white;
        }
      }
    }
  }
}
