
.nav {
  &--header {
    padding: 5px 26px 15px 0px;
    display: inline-block;
    vertical-align: top;
    text-align: left;
    font-family: $lora;
    font-size: 18px;
    //background-color: rgba(169, 169, 169, 1);

    @media(max-width: $screen-md){
      padding: 0px 0px 5px 0px;
      display: inline-block;
      font-size: 10px;
      //margin-top: 20px;
      margin-top: 0px;
      text-align: center;
    }

    li {
      margin-bottom: 10px;

      &:last-child {
        margin-bottom: 0;
      }

      a {
        //color: black;
        color: white;

        @media(max-width: $screen-md){
          padding-top: 6px;
          padding-bottom: 6px;
          //color: white;
        }

        &:hover, &:focus {
          //color: black;
          background-color: transparent;
          color: white;
        }
      }

      ul {
        font-size: 15px;

        @media(max-width: $screen-md){
          list-style: none;
          padding-left: 0;
          padding-top: 10px;
          font-size: 12px;
        }
      }
    }

    & > li {
      @media(max-width: $screen-md){
        margin-bottom: 20px;
      }

      & > a {
        @media(max-width: $screen-md){
          font-size: 18px;
        }
      }
    }
  }
}
