.product {
  margin-bottom: 52px;
  font-family: $lora;

  @media(max-width: $screen-sm) {
    padding-top: 18px;
  }

  &__content {
    //@include make-row;
    @extend %row;
  }

  &__main {
    @include make-xs-column(24);
    @include make-md-column(18);

    @media(max-width: 1200px){
      width: 100%;
      margin-bottom: 40px;
    }
    @media(max-width: $screen-sm){
      padding-left: 12px;
      padding-right: 12px;
      margin-bottom: 30px;
    }

    &__row {
      @extend %row;
    }

    &__slider {
      @include make-xs-column(24);
      @include make-sm-column(14.2);

      @media(max-width: $screen-md){
        padding-left: 12px;
        padding-right: 12px;
      }
      @media(max-width: $screen-sm){
        padding: 0;
        margin-bottom: 20px;
      }
    }

    &__info {
      @include make-xs-column(24);
      @include make-sm-column(9.7);
      @include make-md-column-offset(0.1);
      min-height: 485px;

      @media(max-width: $screen-sm){
        border-bottom: 1px solid rgba(88, 88, 88, 0.5);
        min-height: auto;
        padding-left: 12px;
        padding-right: 12px;
        padding-bottom: 35px;
        margin-bottom: 0px;
      }
    }

    &__description {
      position: absolute;
      bottom: -1px;
      left: 20px;
      padding: 0;
      margin: 0;
      list-style: none;
      font-size: 13px;
      color: black;

      @media(max-width: $screen-sm){
        position: relative;
        bottom: auto;
        left: auto;
        //font-size: 16px;
      }

      li {
        margin-bottom: 7px;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    &__text {
      @include make-xs-column(24);
      padding-top: 52px;
      padding-bottom: 30px;

      @media(max-width: $screen-sm){
        padding-top: 30px;
        padding-left: 12px;
        padding-right: 12px;
        padding-bottom: 0;
      }

      &__title {
        margin-bottom: 27px;
        color: $color-promo;

        @media(max-width: $screen-sm){
          margin-bottom: 15px;
        }
      }

      p {
        font-size: 16px;
        color: black;

        @media(max-width: $screen-sm){
          font-size: 18px;
        }
      }
    }
  }

  &__title {
    margin-top: -12px;
    color: $color-promo;

    @media(max-width: $screen-md){
      margin-top: 0;
    }

    &--main {
      @media(max-width: $screen-sm) {
        display: none;
      }
    }

    &--mobile {
      display: none;
      margin-bottom: 40px;

      @media(max-width: $screen-sm) {
        display: block;
      }
    }
  }

  &__side {
    @include make-xs-column(24);
    @include make-md-column(6);
    @include make-lg-column(5.3);
    @include make-lg-column-offset(0.7);
    border-left: 1px solid rgba(88, 88, 88, 0.5);
    min-height: 485px;
    text-align: right;

    @media(max-width: 1200px){
      width: 100%;
      border-left: none;
      text-align: left;
      min-height: auto;
    }
    @media(max-width: $screen-sm){
      padding-left: 12px;
      padding-right: 12px;
    }

    &__block {
      margin-bottom: 48px;

      @media(max-width: 1200px){
        margin-bottom: 20px;
      }
      @media(max-width: $screen-sm){
        margin-bottom: 15px;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }

    &__title {
      margin-top: -8px;

      @media(max-width: 1200px){
        margin-top: 0;
      }
      @media(max-width: $screen-sm){
        font-size: 26px;
        margin-bottom: 15px;
      }
    }

    p {
      color: #585858;
      font-size: 17px;

      @media(max-width: $screen-sm){
        font-size: 11px;
      }
    }
  }

  &__sheep {
    white-space: nowrap;
  }

  &__slider {
    @extend %row;
    @media(max-width: $screen-sm){
      margin-left: 0;
      margin-right: 0;
    }

    &__main {
      @include make-xs-column(24);
      @include make-md-column(19.2);
      position: relative;
      overflow: hidden;

      @media(max-width: $screen-md){
        padding: 0;
        margin-bottom: 20px;
      }
      @media(max-width: $screen-sm){
        margin-bottom: 0;
      }

      &:before {
        content: '';
        display: block;
        margin-top: 100%;

        @media(max-width: $screen-sm){
          display: none;
        }
      }

      .product-for {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 0px 20px;

        @media(max-width: $screen-md){
          padding: 0;
        }
        @media(max-width: $screen-sm){
          position: relative;
          height: auto;
          width: auto;
        }
      }
    }

    &__nav {
      @include make-xs-column(24);
      @include make-md-column(4.9);
      @include make-md-column-offset(-0.2);
      //height: 485px;
      //overflow: hidden;
      @media(max-width: $screen-md){
        padding: 0;
        //display: none;
      }
      @media(max-width: $screen-sm){
        display: none;
      }
    }
  }
}

.promo-product {
  margin: 0px -50px;
  font-size: 0;

  @media(max-width: 1300px){
    margin: 0px -40px;
  }
  @media(max-width: $screen-md){
    margin: 0px -10px;
  }
  @media(max-width: $screen-sm){
    margin: 0px -10px;
  }
  @media(max-width: $screen-xs){
    //margin: 0px -20px;
  }

  .slick-list {
    @media(max-width: $screen-sm){
      padding: 0 !important;
    }
  }

  .slick-slide {
    &[data-slick-index="3"]{
      .catalog-item__buy {
        margin-right: 2px;
      }
    }

    &[data-slick-index="2"]{
      .catalog-item__buy {
        @media(max-width: $screen-md){
          margin-right: 2px;
        }
        @media(max-width: $screen-sm){
          margin-right: 14px;
        }
        @media(max-width: $screen-xs){
          margin-right: 12px;
        }
      }
    }
  }

  &__wrapper {
    overflow: hidden;
  }

  &__slider {
    @media(max-width: $screen-sm){
      margin-left: -12px;
      margin-right: -12px;
    }
  }

  &__title {
    margin-bottom: 30px;
  }

  &__block {
    width: 100%;
    padding: 0px 50px;

    @media(max-width: 1300px){
      padding: 0px 40px;
    }
    @media(max-width: $screen-md){
      padding: 0px 10px;
    }
    @media(max-width: $screen-sm){
      padding: 0px 10px;
    }
    @media(max-width: $screen-xs){
      //padding: 0px 20px;
    }

    &:hover {
      .promo-product {
        &__buy {
          .btn {
            border-color: rgba(88, 88, 88, 0.5);
          }
        }
      }
    }
  }

  &__img  {
    width: 100%;

    &__wrapper {
      width: 100%;
      //height: 240px;
      //overflow: hidden;
    }
  }

  &__buy {
    //margin-left: -15px;
    //display: none;
    //position: absolute;
    //bottom: 19px;
    //left: 0;
    //width: 100%;

    @media(max-width: $screen-sm){
      //padding-left: 12px;
      //padding-right: 12px;
      //display: block;
    }

    .btn {
      border-color: transparent;
      padding: 5px 15px 6px 15px;
      font-size: 13px;

      @media(max-width: $screen-xs){
        width: 100%;
      }

      .btn__promo__icon {
        margin-left: 10px;
      }
    }
  }

  &__description {
    position: relative;
    font-family: $lora;
    padding-top: 26px;
    font-size: 16px;
    padding-bottom: 26px;

    @media(max-width: $screen-sm){
      padding-right: 12px;
      padding-left: 12px;
    }

    &__title {
      display: inline-block;
      vertical-align: 5px;
      color: #000;
      margin-bottom: 17px;
      text-decoration: none;

      &:hover, &:focus {
        color: #000;
      }
    }
  }
}