.promo-block {
  margin-bottom: 49px;

  @media(max-width: $screen-md){
    margin-bottom: 10px;
  }
}

.promo-main {
  height: 500px;
  overflow: hidden;

  @media(max-width: $screen-md){
    height: auto;
  }

  &__row {
    @extend %row;
  }

  &__block {
    @media(max-width: $screen-md){
      margin-bottom: 10px;
    }

    &--big {
      @include make-xs-column(24);
      @include make-md-column(15.4);
      //margin-bottom: 50px;
      overflow: hidden;

      @media(max-width: $screen-md){
        padding-left: 12px !important;
        padding-right: 12px !important;
        margin-bottom: 12px;
      }
    }

    &--mini {
      @include make-xs-column(24);
      @include make-md-column(8.6);
      //@include make-md-column-offset(0.6);
      margin-bottom: 0;

      @media(max-width: $screen-md){
        padding-left: 12px !important;
        padding-right: 12px !important;
      }
    }
  }
}

.promo-side {
  position: relative;
  height: 500px;

  @media(max-width: $screen-md){
    height: auto;
  }

  &__row {
    @extend %row;
    height: 100%;

    @media(max-width: $screen-md){
      margin: 0 !important;
    }
  }

  &__main {
    @extend %row;
    height: 100%;

    @media(max-width: $screen-md){
      margin-left: -6px !important;
      margin-right: -6px !important;
    }
  }

  &__block {
    @include make-md-column(12);
    @include make-xs-column(8);
    //overflow: hidden;

    @media(max-width: $screen-md){
      height: 100%;
      padding-left: 6px !important;
      padding-right: 6px !important;
    }

    &:before {
      @media(max-width: $screen-md){
        content: "";
        display: block;
        margin-top: 100%;
      }
    }

    &--one {

    }

    &--two {
      margin-bottom: 26px;

      @media(max-width: $screen-md){
        margin-bottom: 0;
      }
    }

    &--three {

    }

    &__inside {
      display: block;
      position: relative;

      @media(max-width: $screen-md){
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding-left: 6px;
        padding-right: 6px;
      }

      &:hover, &:focus {
        .promo-side__border {
          opacity: 1;
        }

        .promo-side__text {
          opacity: 1;
        }
      }

      &--big {
        height: 500px;

        @media(max-width: $screen-md){
          height: 100%;
        }
      }

      &--square {
        height: 237px;
        margin-bottom: 26px;
        @media(max-width: $screen-md){
          height: 100%;
        }

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  &__border {
    opacity: -1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 9px 9px;
    transition: $transition-basic;

    @media(max-width: $screen-md){
      padding-left: 15px;
      padding-right: 15px;
      opacity: 1;
    }
    @media(max-width: $screen-md){

    }

    &__inside {
      border: 1px solid white;
      width: 100%;
      height: 100%;
    }
  }

  &__img {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center !important;
  }

  &__text {
    opacity: -1;
    position: absolute;
    bottom: 33px;
    right: 46px;
    transition: $transition-basic;

    @media(max-width: $screen-md){
      transform: translate(0%, -50%);
      right: 9px;
      top: 50%;
      opacity: 1;
      margin-top: -7px;
    }
  }
}

.promo-price {
  display: inline-block;
  vertical-align: top;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 12px 23px 32px 15px;
  position: relative;
  font-family: $lora;
  font-size: 24px;
  width: 190px;
  color: #000;

  @media(max-width: $screen-md){
    padding: 6px 6px 6px 6px;
    font-size: 13px;
    width: 85px;
  }

  &:hover, &:focus {
    color: #000;
    opacity: 1;
  }

  &:hover {
    .promo-price__pointer {
      right: 20px;
    }
  }

  &__title {

  }

  &__price {
    font-size: 15px;
    margin-top: 6px;

    @media(max-width: $screen-md){
      font-size: 9px;
      margin-top: 4px;
    }
  }

  &__pointer {
    position: absolute;
    bottom: 18px;
    right: 12px;
    transition: $transition-basic;

    @media(max-width: $screen-md){
      bottom: 1px;
      right: 5px;
    }
  }
}

.promo-item {
  position: relative;

  @media(max-width: $screen-md){
    padding-right: 0;
  }
  @media(max-width: $screen-sm){

  }

  &__row {
    @extend %row;

    @media(max-width: $screen-md){
      margin-left: -6px !important;
      margin-right: -6px !important;
    }
  }

  &__block {
    @include make-md-column(6);
    @include make-xs-column(12);
    height: 263px;

    @media(max-width: $screen-md){
      padding-left: 6px !important;
      padding-right: 6px !important;
      margin-bottom: 12px;
      height: auto;
    }

    &:before {
      @media(max-width: $screen-md){
        //content: "";
        //display: block;
        //margin-top: 100%;
      }
    }

    &__inside {
      width: 100%;
      height: 100%;

      @media(max-width: $screen-md){
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 0px 6px;
      }
    }
  }

  &__box {
    height: 100%;
    position: relative;
    background-size: cover !important;
    background-repeat: no-repeat !important;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, .3);
      z-index: 0;
    }

    &:hover {
      .promo-item__description {
        opacity: 1;
      }
    }
  }

  &__description {
    opacity: 1;
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
    padding: 20px 20px;
    color: white;
    transition: $transition-basic;

    @media(max-width: $screen-md){
      padding: 10px 9px;
      opacity: 1;
    }
  }

  &__title {
    display: inline-block;
    vertical-align: top;
    line-height: 20px;
    font-size: 19px;
    position: relative;
    padding-bottom: 13px;
    margin-bottom: 10px;
    color: white;

    @media(max-width: $screen-md){
      line-height: 13px;
      font-size: 13px;
      padding-bottom: 11px;
      margin-bottom: 8px;
    }

    &:hover, &:focus {
      color: white;
      text-decoration: none;
    }

    &:before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: white;
    }
  }

  &__list {
    padding: 0;
    list-style: none;
    margin: 0;
    font-size: 15px;
    min-height: 91px;

    @media(max-width: $screen-md){
      font-size: 10px;
      min-height: 36px;
    }

    li {
      width: 100%;
      margin-bottom: 2px;

      @media(max-width: $screen-md){
        margin-bottom: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }

    a {
      color: white;

      &:hover, &:focus {
        color: white;
        text-decoration: none;
        outline: none;
      }
    }
  }

  &__next {
    position: absolute;
    transform: translate(0%, -50%);
    top: 50%;
    right: 0px;

    &:after {
      content: '';
      display: inline-block;
      width: 22px;
      height: 22px;
      border-radius: 50%;
      background-color: #EEEEEE;
    }

    svg {
      width: 22px;
      height: 11px;
      position: absolute;
      top: 5px;
      right: 5px;
    }
  }
}

.promo-about {
  background-color: #efefef;
  padding: 45px 0px;
  font-family: $lora;

  @media(max-width: $screen-md){
    padding: 11px 0px 6px 0px;
  }

  &__row {
    @extend %row;
  }

  &__promo {
    @include make-md-column(4.8);
    @include make-xs-column(24);

    @media(max-width: $screen-md){
      padding-left: 12px !important;
      padding-right: 12px !important;
      margin-bottom: 8px;
    }

    p {
      font-size: 16px;
    }
  }

  &__description {
    @include make-md-column(19.2);
    @include make-xs-column(24);
    //padding-top: 11px;
    line-height: 30px;
    font-family: $lora;

    @media(max-width: $screen-md){
      padding-left: 12px !important;
      padding-right: 12px !important;
      //padding-top: 0;
    }

    p {
      font-size: 17px;

      @media(max-width: $screen-md){
        font-size: 12px;
        line-height: 13px;
      }
    }
  }
}

.promo-plus {
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  font-family: $lora;
  //margin-left: -5px;
  //margin-right: -5px;

  @media(max-width: $screen-md){
    display: inline-block;
    padding-top: 18px;
    padding-bottom: 33px;

  }

  li {
    display: inline-block;
    padding-right: 20px;
    //@include make-xs-column(24);
    //@include make-md-column(6);
    //padding-left: 5px !important;
    //padding-right: 5px !important;

    @media(max-width: $screen-md){
      margin-bottom: 21px;
      padding-right: 0;
      width: 100%;
      vertical-align: top;
    }

    &:last-child {
      padding-right: 0;

      @media(max-width: $screen-md){
        margin-bottom: 0;
      }
    }
  }

  &__item {
    display: table;
    //display: flex;
    //justify-content: space-between;
    //flex-direction: row;
    //align-items: center;

    @media(max-width: $screen-md){
      //justify-content: left;
      margin: 0 auto;
      width: 100%;
      max-width: 212px;
    }

    &:hover {
      .promo-plus {
        &__item {
          &__icon {
            svg {
              fill: #ae8c64;
            }
          }

          &__text {
            p {
              color: #ae8c64;
            }
          }
        }
      }
    }

    &__icon {
      display: table-cell;
      vertical-align: middle;
      width: 70px;
      @media(max-width: $screen-md){
        min-width: 37px;
        max-width: 37px;
      }

      svg {
        width: 40px;

        @media(max-width: $screen-md){
          width: 30px;
          height: 30px;
        }
      }
    }

    &__text {
      display: table-cell;
      vertical-align: middle;
      //max-width: 200px;
      line-height: 30px;
      @media(max-width: $screen-md){
        line-height: normal;
        text-align: left;
      }

      p {
        font-size: 16px;
        margin: 0;

        @media(max-width: $screen-md){
          font-size: 13px;
        }
      }
    }
  }
}

.promo-baner {
  overflow: hidden;

  &__wrapper {
    overflow: hidden;
  }

  &__list {
    @extend %row;
    //margin-left: -35px !important;
    //margin-right: -35px !important;
    margin-bottom: 0;
    padding: 0;
    list-style: none;

    @media(max-width: $screen-md){
      //margin-left: 0px !important;
      //margin-right: 0px !important;
    }

    li {
      @include make-md-column(12);
      @include make-xs-column(24);

      //padding-left: 35px;
      //padding-right: 35px;

      @media(max-width: $screen-md){
        //padding-left: 15px;
        //padding-right: 15px;
        margin-bottom: 10px;
        padding-left: 12px !important;
        padding-right: 12px !important;
      }

      &:last-child {
        @media(max-width: $screen-md){
          margin-bottom: 0;
        }
      }
    }
  }

  &__item {
    &__img {
      width: 100%;
    }
  }

  &--index {
    margin-top: -4px;
  }
}

.promo-social {
  padding: 0;
  list-style: none;
  margin: 0;

  li {
    display: inline-block;
    vertical-align: middle;
    margin: 0px 6px;

    @media(max-width: $screen-md){
      margin: 0px 2px;
    }

    &:first-child {
      @media(max-width: $screen-md){
        margin-left: 0;
      }
    }
  }

  &__item {
    display: inline-block;
    vertical-align: top;
    width: 33px;
    height: 33px;
    border-radius: 50%;
    background-color: #898989;
    border: 1px solid #898989;

    @media(max-width: $screen-md){
      width: 27px;
      height: 27px;
    }

    &:hover, &:focus {
      opacity: 1;
      background-color: #242424;
      border-color: #242424;
    }
  }

  svg {
    width: 100%;
    height: 100%;
    fill: white;
  }

  &--footer {
    margin-top: -16px;

    @media(max-width: $screen-md){
      margin-top: 0;
    }
  }
}
