
.irs {
  &-slider {
    top: 19px;
    width: 14px;
    height: 14px;
    background: #8c0303;
    border-radius: 50%;
  }

  &-line {
    top: 25px;
    height: 2px;
  }

  &-line-left {
    height: 2px;
  }

  &-line-mid {
    height: 2px;
    background-position: 0 0;
  }

  &-line-right {
    height: 2px;
  }

  &-bar {
    top: 25px;
    height: 2px;
    background: #8c0303;
  }

  &-bar-edge {
    height: 2px; width: 9px;
  }

  &-from {
    background: #8c0303;

    &:after {
      border-color: #8c0303;
    }
  }

  &-to {
    background: #8c0303;

    &:after {
      border-color: #8c0303;
    }
  }
}

.slick-slider {
  .slick-arrow {
    position: absolute;
    transform: translate(0, -50%);
    top: 50%;
    width: 22px;
    height: 22px;
    font-size: 0;
    border-radius: 50%;
    background-color: #EEEEEE;
    border: none;
    outline: none;
    background-size: contain !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    z-index: 1;
    @media (max-width: $screen-md) {

    }

    &:hover {

    }

    &.slick-prev {
      left: 0;

      &:after {
        content: '';
        position: absolute;
        top: 5px;
        left: 8px;
        width: 22px;
        height: 11px;
        background: url(../icons/arrow_left.svg);
        background-repeat: no-repeat;
      }
    }

    &.slick-next {
      right: 0;

      &:before {
        content: '';
        position: absolute;
        top: 6px;
        right: 7px;
        width: 22px;
        height: 11px;
        background: url(../icons/arrow_right.svg);
        background-repeat: no-repeat;
      }
    }
  }
}

.promo-slider {
  overflow: hidden;

  &__item {
    vertical-align: top;
    position: relative;
    height: 100%;
    overflow: hidden;

    @media(max-width: $screen-md){
      height: 220px;
      position: relative;
    }
    @media(max-width: $screen-xs){
      height: auto;
      width: 100%;
    }

    &:before {
      @media(max-width: $screen-md){

      }
    }
  }

  &__img {
    @media(max-width: $screen-md){
      position: absolute;
      transform: translate(-50%, -50%);
      top: 50%;
      left: 50%;
      width: 100%;
    }
    @media(max-width: $screen-xs){
      position: relative;
      transform: none;
      top: auto;
      left: auto;
    }
  }

  &__text {
    position: absolute;
    font-family: $lora;
    top: 58px;
    z-index: 1;
    width: 204px;
    background: white;
    font-size: 24px;
    line-height: normal;
    text-align: left;
    padding: 14px 10px 14px 24px;

    @media(max-width: $screen-md){
      top: 11%;
      line-height: 18px;
      width: 87px;
      padding: 6px 9px;
      font-size: 13px;
    }

    &--right {
      right: 0;
    }

    &--left {
      left: 0;
    }
  }

  .slick-arrow {
    position: absolute;
    transform: translate(0, -50%);
    top: 50%;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    font-size: 0;
    background-color: #EEEEEE;
    border: none;
    outline: none;
    background-size: contain !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    z-index: 1;
    @media (max-width: $screen-md) {

    }

    &:hover {

    }

    &.slick-prev {
      left: 0;

      &:after {
        content: '';
        position: absolute;
        top: 5px;
        left: 8px;
        width: 22px;
        height: 11px;
        background: url(../icons/arrow_left.svg);
        background-repeat: no-repeat;
      }
    }

    &.slick-next {
      right: 0;

      &:before {
        content: '';
        position: absolute;
        top: 6px;
        right: 7px;
        width: 22px;
        height: 11px;
        background: url(../icons/arrow_right.svg);
        background-repeat: no-repeat;
      }
    }
  }

  .slick-dots {
    position: absolute;
    transform: translate(0%, -50%);
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 0;

    li {
      display: inline-block;
      vertical-align: middle;
      margin: 0px 8px;

      @media(max-width: $screen-md){
        margin: 0px 5px;
      }

      &.slick-active {
        button {
          background-color: #ae8c64;
          border-color: #ae8c64;
        }
      }
    }

    button {
      border-radius: 50%;
      width: 26px;
      height: 26px;
      font-size: 0;
      background-color: transparent;
      border: 1px solid white;

      @media(max-width: $screen-md){
        width: 10px;
        height: 10px;
        padding: 0;
      }
    }
  }
}

.slider-item {
  height: 263px;
  //overflow: hidden;
  margin-left: -20px;
  margin-right: -20px;

  @media(max-width: $screen-md){
    height: auto;
    margin-left: -12px;
    margin-right: -12px;
  }

  .slick-list {
    //margin: 0px 37px;

    @media(max-width: $screen-xs){
      margin: 0;
    }
  }

  .slick-arrow {
    &.slick-prev {
      left: -15px ;

      @media(max-width: 1220px){
        left: 0;
      }
    }

    &.slick-next {
      right: -15px;

      @media(max-width: 1220px){
        right: 0;
      }
    }
  }
}

//
.main-slider {
  width: 100%;
  height: 100%;

  &__wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-left: 20px;
    padding-right: 20px;

    @media(max-width: $screen-md){
      padding-left: 0;
      padding-right: 0;
    }
  }
}

.nav-slider {
  width: 100%;
  height: 100%;

  &__wrapper {
    width: 100%;
    height: 100%;
  }

  .slide-bgimg {
    //position: relative;
    //overflow: hidden;
    //
    //&:before {
    //  content: '';
    //  display: block;
    //  margin-top: 100%;
    //}
  }

  .entity-img {
    //display: block !important;
    //position: absolute;
    //transform: translate(-50%, -50%);
    //left: 50%;
    //top: 50%;
    //height: 100%;
  }
}

[class^="swiper-button-"] {
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.swiper-slide {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}
.swiper-container {
  //width: 80%;
  //height: 100vh;
  float: left;
  -webkit-transition: opacity .6s ease, -webkit-transform .3s ease;
  transition: opacity .6s ease, -webkit-transform .3s ease;
  transition: opacity .6s ease, transform .3s ease;
  transition: opacity .6s ease, transform .3s ease, -webkit-transform .3s ease;
}
.swiper-container.nav-slider .swiper-slide {
  cursor: pointer;
  opacity: .4;
  -webkit-transition: opacity .3s ease;
  transition: opacity .3s ease;
}
.swiper-container.nav-slider .swiper-slide.swiper-slide-active {
  opacity: 1;
}
.swiper-container.nav-slider .swiper-slide .content {
  width: 100%;
}
.swiper-container.nav-slider .swiper-slide .content .title {
  font-size: 20px;
}
.swiper-container:hover .swiper-button-prev,
.swiper-container:hover .swiper-button-next {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  opacity: 1;
  visibility: visible;
}
.swiper-container.loading {
  opacity: 0;
  visibility: hidden;
}

.swiper-slide {
  overflow: hidden;
}
.swiper-slide .slide-bgimg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center !important;
  background-size: cover !important;

  &:hover, &:focus {
    opacity: 1;
  }
}
.swiper-slide .entity-img {
  display: none;
}
.swiper-slide .content {
  position: absolute;
  top: 40%;
  left: 0;
  width: 50%;
  padding-left: 5%;
  color: #fff;
}
.swiper-slide .content .title {
  font-size: 2.6em;
  font-weight: bold;
  margin-bottom: 30px;
}
.swiper-slide .content .caption {
  display: block;
  font-size: 13px;
  line-height: 1.4;
  -webkit-transform: translateX(50px);
  transform: translateX(50px);
  opacity: 0;
  -webkit-transition: opacity .3s ease, -webkit-transform .7s ease;
  transition: opacity .3s ease, -webkit-transform .7s ease;
  transition: opacity .3s ease, transform .7s ease;
  transition: opacity .3s ease, transform .7s ease, -webkit-transform .7s ease;
}
.swiper-slide .content .caption.show {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  opacity: 1;
}

[class^="swiper-button-"] {
  width: 44px;
  opacity: 0;
  visibility: hidden;
}

.swiper-button-prev {
  -webkit-transform: translateX(50px);
  transform: translateX(50px);
}

.swiper-button-next {
  -webkit-transform: translateX(-50px);
  transform: translateX(-50px);
}
