
.head-h1 {
  font-family: $lora;
  font-size: 38px;
  margin-bottom: 20px;

  @media(max-width: $screen-md){
    font-size: 30px;
    margin-bottom: 10px;
  }
  @media(max-width: $screen-sm){
    font-size: 16px;
    margin-bottom: 6px;
  }
}

.head-h2 {
  font-family: $lora;
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;

  @media(max-width: $screen-md){
    font-size: 30px;
    margin-bottom: 10px;
  }
  @media(max-width: $screen-sm){
    font-size: 16px;
  }
}

.head-h3 {
  font-family: $lora;
  font-size: 30px;
  line-height: 48px;
  margin-bottom: 20px;

  @media(max-width: $screen-md){
    font-size: 22px;
    line-height: normal;
    margin-bottom: 10px;
  }
  @media(max-width: $screen-sm){
    font-size: 16px;
  }
}

.head-h4 {
  font-family: $lora;
  font-size: 24px;
  line-height: normal;
  margin-bottom: 20px;

  @media(max-width: $screen-md){
    margin-bottom: 10px;
  }
  @media(max-width: $screen-sm){
    //font-size: 16px;
  }
}

.head-h5 {
  font-family: $lora;
  font-size: 18px;
  font-weight: bold;

  @media(max-width: $screen-md){
    font-size: 18px;
    margin-bottom: 10px;
  }
  @media(max-width: $screen-sm){
    font-size: 19px;
    line-height: 24px;
  }
}

a {
  @include transition(all .2s ease-in-out);

  &:hover, &:focus {
    opacity: $opacity-main;
    text-decoration: none;
    outline: none;
  }
}


.color {
  &--promo {
    color: $color-promo;
  }

  &--bright {
    color: #9b8200;
  }
}

.ul {
  &--num {
    padding-left: 15px;
    list-style: decimal;
  }

  &--circle {
    padding-left: 0;
    list-style: none;

    li {
      position: relative;
      padding-left: 15px;

      &:before {
        content: '';
        position: absolute;
        top: 11px;
        left: 0;
        width: 5px;
        height: 5px;
        border-radius: 50%;
        background-color: $color-promo;
      }
    }
  }
}

.table {
  tbody {
    tr {
      td {
        padding-left: 14px;
        padding-right: 14px;
        padding-top: 6px;
        padding-bottom: 7px;

        &:nth-child(2+1n){
          background: #f6f6f6;
        }
      }
    }
  }
}
